.main {
  display: flex;
  flex-direction: column;
}

.main_dark {
  background-color: black;
}

.main_light {
  background-color: #e3e8eb;
}

.artist {
  display: flex;
  padding-left: 1rem;
}

.artist_dark {
  color: #e3e8eb;
  background-color: black;
}

.artist_light {
  color: black;
  background-color: #e3e8eb;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.container_dark {
  color: aliceblue;
  background-color: #222;
}

.container_light {
  color: black;
  background-color: #e3e8eb;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-width: 2px;
  border-style: solid;
}

.details {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.details_dark {
  background-color: black;
  border-color: #e3e8eb;
}

.details_light {
  background-color: #e3e8eb;
  border-color: #222;
}

.image {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .image {
    width: 40%;
    height: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
