.main {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
}

.list_header {
  padding: 0 1rem;
}

.header_light {
  color: #222;
}

.header_dark {
  color: #fff;
}