.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg_light {
  background-color: #fff;
}

.bg_dark {
  background-color: #222;
}

.loading {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 900;
}

.ld_dark {
  color: aliceblue;
}

.ld_light {
  color: #222;
}
